/* Style rosendo */

/* Body */
/* * {
  margin: 0px;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
  font-family: "Roboto", sans-serif;
}
*/
.titulo {
  font-size: 75px;
  margin-bottom: 32px;
  font-weight: bold;
}

.subtitulo {
  font-size: 50px;
  margin-bottom: 24px;
  font-weight: bold;
}

.parrafo {
  font-size: 20px;
  margin: 30px 30px 10px 30px;
  padding: 30px 30px 10px 30px;
  text-align: justify;
}

/* Navegador */

.navbar-brand > img {
  padding-left: 1rem;
  width: 150px;
}
.active{
  text-shadow: 1.5px 1.5px 1.5px #ce8b0fd3;
}
/* Login */

.nuevo-usuario:hover {
  color: grey;
}
.nuevo-usuario:link {
  color: green;
}

/* Encabezado */

.encabezado {
  padding-top: 15rem;
  padding-bottom: 3rem;
  text-align: center;
  color: #fff;
  background-image: url(./img/everis-ia.png);
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
}

.imagen-card {
  width: 100%;
  height: 200px;
}

.card {
  text-align: center;
  margin: 10px;
}

/* Registro */

.registro {
  margin: 1rem 5rem 5rem 5rem;
  padding: 5rem;
}

@media (max-width: 768px) {
  .registro {
    margin: 1rem;
    padding: 1rem;
  }
}

/* Style carolina */
.tarjeta {
  background-color: #f7f7f7;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: space-between;
  border-top: 0.5rem black solid;
  height: 300px;
}
.tarjeta:hover {
  background: url(./images/banner-index.jpg);
  background-position: center;
  color: white;
  border-top: 0.5rem white solid;
}
.hover-tarjeta > div:hover {
  filter: drop-shadow(0.3px 0.3px 1px rgb(94, 93, 93));
  transform: scale(0.98);
  transition: 0.3s;
  cursor: pointer;
}
.card-titulo {
  font-family: "Playfair Display", serif;
}
.card-texto {
  font-family: "Roboto", sans-serif;
  font-size: 0.8rem;
}

/* style tomas */
.banner-article-1 {
  background: url(./images/article1/article-banner.jpg);
  background-position: top;
  background-size: 100%;
  height: 400px;
  background-repeat: no-repeat;
  padding-bottom: 2rem;
}
.banner-index {
  background: url(./images/banner-index.jpg);
  background-position: top;
  background-size: 100%;
  height: 500px;
  background-repeat: no-repeat;
  padding-bottom: 2rem;
}
.titulo-principal {
  display: flex;
  align-items: flex-end;
  color: white;
}
.datos {
  display: flex;
  align-items: center;
  font-size: 12px;
  height: 1.5rem;
}
.datos p {
  display: flex;
  padding: 0 0.7rem 0 0.7rem;
}
.datos i {
  padding: 0.2rem 0.3rem;
}
.tags {
  padding: 0.2rem 0.6rem;
  background-color: white;
  color: #212529;
  margin-left: 8px;
  border-radius: 2px;
  height: 1.5rem;
}
.tags:hover {
  cursor: pointer;
  color: white;
  background-color: #212529;
  transition: 0.6s;
}
.columna-izquierda {
  padding: 2rem 5rem 2rem 0;
}
.columna-derecha {
  padding: 2rem 2rem;
  height: 750px;
  margin-top: 45px;
}
.columna-derecha a {
  text-decoration: none;
  font-size: 15px;
  display: flex;
  padding: 0.5rem 0;
  color: #212529;
}
.columna-derecha a:hover {
  text-decoration: underline;
  font-size: 15px;
  display: flex;
  padding: 0.5rem 0;
  transform: scale(1.1);
  transition: 0.6s;
}
ul {
  list-style: none;
  padding: 0 0;
}
.images-article p {
  font-size: 14px;
}
.form {
  background-color: #212529;
  color: white;
}
form {
  padding: 3rem 0;
}
.imput {
  padding-right: 100px;
}
form h4 {
  margin-bottom: 60px;
  text-decoration: underline;
}
footer {
  background-color: #212529;
  border-top: 1px solid white;
  padding-top: 60px;
}
.iconos {
  width: 40px;
  height: 40px;
  border: 1px solid white;
  border-radius: 7px;
  margin-top: 20px;
  margin-right: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-decoration: none;
  font-size: 25px;
}
.iconos:hover {
  background: white;
  color: #212529;
  transition: 0.6s;
}
.text-hover-white:hover {
  color: white !important;
}
.footer-medio {
  color: white;
}
.footer-medio a {
  color: white;
  text-decoration: none;
}
.footer-medio li {
  padding-bottom: 20px;
  font-size: 15px;
}
.footer-medio li:hover {
  text-decoration: underline;
  transform: scale(1.1);
  transition: 0.6s;
  cursor: pointer;
}

@media (max-width: 576px) {
  .banner-article-1 {
    height: 200px;
    margin-top: 60px;
    padding-bottom: 1rem;
  }
  .titulo-principal {
    align-items: center;
    width: 80%;
  }
  .titulo-principal h2 {
    font-size: 20px;
    text-align: center;
    font-size: 15px;
    padding-top: 15px;
  }
  .imput {
    padding-right: 0;
  }
  .columna-izquierda {
    padding: 0 1rem;
  }
  .datos {
    font-size: 10px;
    padding-bottom: 50px;
  }
  .tags {
    padding: 0 0.6rem;
    background-color: #242323;
    color: white;
    margin-left: 8px;
    border-radius: 2px;
    height: 1rem;
  }
}

/* View About */

.about-body {
  padding: 5rem 12rem;
}

@media (max-width: 576px) {
  .about-body {
    padding: 5rem 0;
  }
}

/* Miembros del equipo */
.card-miembros {
  text-align: center;
  margin: 10px;
}

.imagen-card-miembros {
  width: 100%;
  height: 200px;
  border-radius: 50%;
  
}

.imagen-card-miembros:hover {
  -webkit-transform:scale(1.1);
-moz-transform:scale(1.1);
-ms-transform:scale(1.1);
-o-transform:scale(1.1);
transform:scale(1.1);
border-color: black;
  border-style: solid;
  border-width: 1px;
  -webkit-box-shadow: 0px 0px 20px 10px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 20px 10px rgba(0,0,0,0.75);
box-shadow: 0px 0px 20px 10px rgba(0,0,0,0.75);
}

.red-miembro {
  color: gray;
  font-size: 35px;
  padding: 0px 5px 0px 5px;
}

.red-miembro:hover {
-webkit-transform:scale(1.25);
-moz-transform:scale(1.25);
-ms-transform:scale(1.25);
-o-transform:scale(1.25);
transform:scale(1.25);
color: black;
}
