/* Style rosendo */

/* Body */
/* * {
  margin: 0px;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
  font-family: "Roboto", sans-serif;
}
*/
.titulo {
  font-size: 75px;
  margin-bottom: 32px;
  font-weight: bold;
}

.subtitulo {
  font-size: 50px;
  margin-bottom: 24px;
  font-weight: bold;
}

.parrafo {
  font-size: 20px;
  margin: 30px 30px 10px 30px;
  padding: 30px 30px 10px 30px;
  text-align: justify;
}

/* Navegador */

.navbar-brand > img {
  padding-left: 1rem;
  width: 150px;
}

/* Login */

.nuevo-usuario:hover {
  color: grey;
}
.nuevo-usuario:link {
  color: green;
}

/* Encabezado */

.encabezado {
  padding-top: 15rem;
  padding-bottom: 3rem;
  text-align: center;
  color: #fff;
  background-image: url(./img/everis-ia.png);
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
}

.imagen-card {
  width: 100%;
  height: 200px;
}

.card {
  text-align: center;
  margin: 10px;
}

/* Registro */

.registro {
  margin: 1rem 5rem 5rem 5rem;
  padding: 5rem;
}

@media (max-width: 768px) {
  .registro {
    margin: 1rem;
    padding: 1rem;
  }
}

/* Style carolina */
.banner-seccion-articulos {
  background: url(./images/Carolina/banner-seccion-articulos.jpg);
  background-position: center;
  height: 500px;
  background-repeat: no-repeat;
  padding-bottom: 2rem;
}
.texto-banner {
  padding-top: 15rem;
  padding-right: 20rem;
  padding-bottom: 5rem;
}
.tarjeta-1 {
  background-color: #f7f7f7;
  background-size: 100%;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: space-between;
  border-top: 0.5rem black solid;
  min-height: 350px;
  border-radius: 100px;
}
.tarjeta-1:hover {
  background: url(images/article1/article-banner.jpg);
  background-position: top;
  color: white;
  border-top: 0.5rem white solid;
  opacity: 90%;
  background-size: 100%;
  background-blend-mode: soft-light;
  border-radius: 100px;
}
.div-rounded {
  border-radius: 100px;
}
.btn-dark {
  border-color: white;
}
.hover-tarjeta > div:hover {
  filter: drop-shadow(0.3px 0.3px 1px rgb(94, 93, 93));
  transform: scale(0.98);
  transition: 0.1s;
  cursor: pointer;
}
.card-titulo {
  font-family: "Playfair Display", serif;
  font-size: 30px;
}
.card-texto {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
}
.tarjeta-2 {
  background-color: #f7f7f7;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: space-between;
  border-top: 0.5rem black solid;
  min-height: 350px;
}
.tarjeta-2:hover {
  background: url(./images/Carolina/imagen-1-art.jpg);
  background-position: center;
  color: white;
  border-top: 0.5rem white solid;
  opacity: 90%;
  background-repeat: no-repeat;
  background-size: unset 100%;
}
.tarjeta-3 {
  background-color: #f7f7f7;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: space-between;
  border-top: 0.5rem black solid;
  min-height: 350px;
}
.tarjeta-3:hover {
  background: url(./images/Carolina/imagen-3-art.jpg);
  background-position: center;
  color: white;
  border-top: 0.5rem white solid;
  opacity: 90%;
  background-repeat: no-repeat;
  background-size: 100%;
}
.tarjeta-4 {
  background-color: #f7f7f7;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: space-between;
  border-top: 0.5rem black solid;
  min-height: 350px;
}
.tarjeta-4:hover {
  background: url(./images/Carolina/imagen-4-art.jpg);
  background-position: center;
  color: white;
  border-top: 0.5rem white solid;
  opacity: 90%;
}
.tarjeta-5 {
  background-color: #f7f7f7;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: space-between;
  border-top: 0.5rem black solid;
  min-height: 350px;
}
.tarjeta-5:hover {
  background: url(./images/Carolina/imagen-5-art.jpg);
  background-position: bottom;
  color: white;
  border-top: 0.5rem white solid;
  opacity: 90%;
  background-repeat: no-repeat;
  background-size: 100%;
}
.tarjeta-6 {
  background-color: #f7f7f7;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: space-between;
  border-top: 0.5rem black solid;
  min-height: 350px;
}
.tarjeta-6:hover {
  background: url(./images/Carolina/imagen-6-art.jpg);
  background-position: center;
  color: white;
  border-top: 0.5rem white solid;
  opacity: 90%;
}
.tarjeta-7 {
  background-color: #f7f7f7;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: space-between;
  border-top: 0.5rem black solid;
  min-height: 350px;
}
.tarjeta-7:hover {
  background: url(./images/Carolina/imagen-7-art.jpg);
  background-position: center;
  color: white;
  border-top: 0.5rem white solid;
  opacity: 90%;
}
.tarjeta-8 {
  background-color: #f7f7f7;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: space-between;
  border-top: 0.5rem black solid;
  min-height: 350px;
}
.tarjeta-8:hover {
  background: url(./images/Carolina/imagen-8-art.jpg);
  background-position: center;
  color: white;
  border-top: 0.5rem white solid;
  opacity: 90%;
}
.tabla {
  padding: 4rem 4rem;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}
a.link-art {
  text-decoration: none;
  cursor: default;
  color: black;
}
a.link-art:hover {
  text-decoration: none;
  cursor: default;
  color: white;
}

/* style Carolina-Article-2.html */
.banner-article-2 {
  background: url(./images/Carolina/imagen-1-art.jpg);
  height: 400px;
  background-repeat: no-repeat;
  padding-bottom: 2rem;
}
/* style Carolina-Article-3.html */
.banner-article-3 {
  background: url(./images/Carolina/imagen-3-art.jpg);
  background-position: center;
  height: 400px;
  background-repeat: no-repeat;
  padding-bottom: 2rem;
}

/* style tomas */
.boton-index {
  display: flex;
  justify-content: center;
}
.boton-index button {
  width: 40%;
}
.banner-article-1 {
  background: url(./images/article1/article-banner.jpg);
  background-position: top;
  background-size: 100%;
  height: 400px;
  background-repeat: no-repeat;
  padding-bottom: 2rem;
}
.banner-article-2 {
  background: url(./images/Carolina/imagen-1-art.jpg);
  height: 400px;
  background-repeat: no-repeat;
  padding-bottom: 2rem;
  background-position: top;
  background-size: 100%;
}
/* style Carolina-Article-3.html */
.banner-article-3 {
  background: url(./images/Carolina/imagen-3-art.jpg);
  background-position: center;
  background-size: 100%;
  height: 400px;
  background-repeat: no-repeat;
  padding-bottom: 2rem;
}
.banner-index {
  background-size: 100%;
  background: url(./images/Carolina/imagen-6-art.jpg);
  background-position: center;
  background-size: 100%;
  height: 500px;
  background-repeat: no-repeat;
  padding-bottom: 2rem;
}
.titulo-principal {
  display: flex;
  align-items: flex-end;
  color: white;
}
.datos {
  display: flex;
  align-items: center;
  font-size: 12px;
  height: 1.5rem;
}
.datos p {
  display: flex;
  padding: 0 0.7rem 0 0.7rem;
}
.datos i {
  padding: 0.2rem 0.3rem;
}
.tags {
  padding: 0.2rem 0.6rem;
  background-color: white;
  color: #212529;
  margin-left: 8px;
  border-radius: 2px;
  height: 1.5rem;
}
.tags:hover {
  cursor: pointer;
  color: white;
  background-color: #212529;
  transition: 0.6s;
}
.columna-izquierda {
  padding: 2rem 5rem 2rem 0;
}
.columna-derecha {
  padding: 2rem 2rem;
  height: 700px;
  margin-top: 45px;
}
.columna-derecha a {
  text-decoration: none;
  font-size: 15px;
  display: flex;
  padding: 0.5rem 0;
  color: #212529;
}
.columna-derecha a:hover {
  text-decoration: underline;
  font-size: 15px;
  display: flex;
  padding: 0.5rem 0;
  transform: scale(1.1);
  transition: 0.6s;
}
ul {
  list-style: none;
  padding: 0 0;
}
.images-article p {
  font-size: 14px;
}
.form {
  background-color: #212529;
  color: white;
}
form {
  padding: 3rem 0;
}
.imput {
  padding-right: 100px;
}
form h4 {
  margin-bottom: 60px;
  text-decoration: underline;
}
footer {
  background-color: #212529;
  border-top: 1px solid white;
  padding-top: 60px;
}
.iconos {
  width: 40px;
  height: 40px;
  border: 1px solid white;
  border-radius: 7px;
  margin-top: 20px;
  margin-right: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-decoration: none;
  font-size: 25px;
}
.iconos:hover {
  background: white;
  color: #212529;
  transition: 0.6s;
}
.text-hover-white:hover {
  color: white !important;
}
.footer-medio {
  color: white;
}
.footer-medio a {
  color: white;
  text-decoration: none;
}
.footer-medio li {
  padding-bottom: 20px;
  font-size: 15px;
}
.footer-medio li:hover {
  text-decoration: underline;
  transform: scale(1.1);
  transition: 0.6s;
  cursor: pointer;
}
.signup-body {
  background: #212529;
  color: white;
  text-align: center;
  padding-top: 1rem;
  height: 100%;
}
.logo-signup {
  display: flex;
  justify-content: center;
  padding-bottom: 3rem;
}
.signup-form {
  background: white;
  color: #212529;
  width: 40%;
  border-radius: 10px;
  text-align: left;
}
.signup-form form {
  padding: 1rem 1rem;
}
.signup-form label {
  font-size: 13px;
}
.signup-form p {
  font-size: 11px;
}
.signup-form i {
  padding-right: 10px;
}

/* @media para modo tablet */
@media (max-width: 800px) {
  .signup-form {
    width: 70%;
  }
}

/* @media para mobile xl */
@media (max-width: 576px) {
  .signup-form {
    width: 95%;
  }
  .banner-article-1 {
    height: 200px;
    margin-top: 50px;
    padding-bottom: 1rem;
  }
  .banner-article-2 {
    height: 200px;
    margin-top: 50px;
    padding-bottom: 1rem;
    background-size: cover;
  }
  .banner-article-3 {
    height: 200px;
    margin-top: 50px;
    padding-bottom: 1rem;
  }
  .titulo-principal {
    align-items: center;
    width: 80%;
  }
  .titulo-principal h2 {
    font-size: 20px;
    font-size: 15px;
    padding-top: 15px;
  }
  .imput {
    padding-right: 0;
  }
  .columna-izquierda {
    padding: 0 1rem;
  }
  .datos {
    font-size: 10px;
    padding-bottom: 50px;
  }
  .tags {
    padding: 0 0.6rem;
    background-color: #242323;
    color: white;
    margin-left: 8px;
    border-radius: 2px;
    height: 1rem;
  }

  /* View About */

  .about-body {
    padding: 5rem 12rem;
  }

  @media (max-width: 576px) {
    .about-body {
      padding: 5rem 0;
    }
  }
}
